.form6{
    max-width: 550px;
    height: auto;
    position: relative;
    margin: auto;
    background-color: rgb(233, 165, 122);
    border-radius: 60px;
    border: 4px solid violet;
    background-image: linear-gradient(90deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 53%,rgb(76, 76, 76) 53%, rgb(76, 76, 76) 54%,rgb(109, 109, 109) 54%, rgb(109, 109, 109) 56%,rgb(142, 142, 142) 56%, rgb(142, 142, 142) 63%,rgb(175, 175, 175) 63%, rgb(175, 175, 175) 72%,rgb(208, 208, 208) 72%, rgb(208, 208, 208) 96%,rgb(241, 241, 241) 96%, rgb(241, 241, 241) 100%),linear-gradient(112.5deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 53%,rgb(76, 76, 76) 53%, rgb(76, 76, 76) 54%,rgb(109, 109, 109) 54%, rgb(109, 109, 109) 56%,rgb(142, 142, 142) 56%, rgb(142, 142, 142) 63%,rgb(175, 175, 175) 63%, rgb(175, 175, 175) 72%,rgb(208, 208, 208) 72%, rgb(208, 208, 208) 96%,rgb(241, 241, 241) 96%, rgb(241, 241, 241) 100%),linear-gradient(67.5deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 53%,rgb(76, 76, 76) 53%, rgb(76, 76, 76) 54%,rgb(109, 109, 109) 54%, rgb(109, 109, 109) 56%,rgb(142, 142, 142) 56%, rgb(142, 142, 142) 63%,rgb(175, 175, 175) 63%, rgb(175, 175, 175) 72%,rgb(208, 208, 208) 72%, rgb(208, 208, 208) 96%,rgb(241, 241, 241) 96%, rgb(241, 241, 241) 100%),linear-gradient(90deg, rgb(213, 213, 213),rgb(210, 210, 210)); background-blend-mode:overlay,overlay,overlay,normal;
}
.form6:hover{
    border: 4px solid purple;
}
.form6>h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    letter-spacing: 10px;
}
.form6>p{
    font-size: 20px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}
.form6>.row{
    width:550px;
    margin: auto;
}
.form6>.row>.col-4{
    align-content: center;
}
.form6>.row>.col-4>label{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: start;
    color: violet;
}
.form6>.row>.col-8>input{
    width: 85%;
    height: 40px;
    font-size: 18px;
    border: 0.5px solid pink;
    text-align: center;
    margin: 20px;
    border-radius: 15px 15px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form6>.button{
    width: 120px;
    margin: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(235, 40, 40);
    color: white;
}
@media only screen and (max-width:1400px){
    .form6{
        width: 360px;
    }
    .form6>.row{
        width:360px;
        margin: auto;
    }
    .form6>.row>.col-4>label{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 10px;
        text-align: start;
        color: violet;
    }
    .form6>.row>.col-8>input{
        width: 65%;
        height: 35px;
        font-size: 14px;
        border: 0.5px solid pink;
        text-align: center;
        margin: 10px;
        border-radius: 15px 15px 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .form6>.button{
        width: 120px;
        margin: 15px;
        font-size: 16px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgb(235, 40, 40);
        color: white;
    }
}