#footer{
    background-color: rgb(143, 207, 143);
    background-color: rgba(0, 0, 0, 0.886);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    
    
}
#img{
    margin-top: 40px;
    margin-left: 50px;
    width: 190px;
    height: 170px;
}
.navbar-nav{
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    
}
.Navbar-item{
    margin: auto;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    line-height: 30px;

    
}

.search{
    margin-right: 45px;
}
.search>.searchspace{
    width: 250px;
    text-align: center;
    font-style: italic;
    border: 0;
    box-shadow: 0 0 5px aqua;
}
.search>.searchbar{
    background-color: red;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    border: 0;
    color: white;
    font-weight: bold;
}

.mail{
    margin-top: 75px;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    text-align: center;
}
#mail{
    text-decoration: 2.5px underline red;
}
.cont{
    margin-top: 75px;
    margin-left: 5%;
    margin-left: 5%;
    text-decoration: none;
    text-align: center;
        
}
#phone{
    text-decoration: 2.5px underline red;
    text-align: center;
}
#number a{
    text-decoration: none;
    color: grey;
    text-align: center;
    position: relative;
}
.copyright{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}
.copyright a{
    text-decoration: none;
}
.copyright>#socialplatform{
    display: flexbox;
    justify-content: space-evenly;
}
.copyright>#socialplatform>#arrange>.col-3{
    margin: auto;
    font-size: 32px;
}
.copyright>#socialplatform>#arrange>.col-3>#socialmedia{
    margin-top: -5px;
    width: 50px;
    
}
.copyright>#socialplatform>#arrange>.col-3>a{
    font-size: 28px;
    text-decoration-line: none;
}

@media only screen and (max-width:1000px) {
    #footer{
        width: auto;
    }
    
    #footerlist{
        width: auto;
        margin-top: 295px;
        margin-left: -320px;
    }
    
    .cont{
        margin-top: 165px;
        margin-left: -190px;
    }
    .search{
        width: auto;
        margin: auto;
        text-align: center;
    }

    #img{
        width: 150px;
        height: 150px;
    }
    .copyright>#socialplatform>#arrange>.col-3{
        font-size: 20px;
    }
    .copyright>#socialplatform>#arrange>.col-3>#socialmedia{
        margin-top: -5px;
        width: 60px;
    }
    .copyright>#socialplatform>#arrange>.col-3>a{
        font-size: 20px;
        text-decoration-line: none;
    }    
}